.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background: #fff;
  &__img {
    grid-column: 1;
    width: 75%;
  }
  &__h2 {
    grid-column: 2;
  }
}

.display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  background: #05117C;
  &--contact {
    grid-column: 1;
  }
  &--about {
    grid-column: 2;
  }
  &--services {
    grid-column: 3;
  }
}
